{% extends 'base.html.twig' %}

{% block body %}
<header>
    <h1>
    Best Of Yeti
    </h1>
</header>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success mt-4 mb-b">
            {{ message }}
        </div>
    {% endfor %}
<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Jmeno</th>
      <th scope="col">Informace</th>
    </tr>
  </thead>
  <div class="form-group">
    <a class="btn btn-primary text-white" href="/create">Create new</a>
  </div>
  <tbody>
  {% for data in list %}
    <tr>
      <th scope="row"><img class="nahled" src="{{ data.img }}" alt="{{ data.id }}"></th>
      <td>{{ data.jmeno }}</td>
      <td>{{ data.informace }}</td>
      <td>
        <a class="btn btn-warning" href="{{path("update",{'id': data.id })}}">Update</a>
        <a class="btn btn-danger" href="{{path("delete",{'id': data.id })}}">Delete</a>
        <a class="btn btn-info text-white" href="{{path("info",{'id': data.id })}}">More info</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}
