 {% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Informace</th>
      <th scope="col">Height</th>
      <th scope="col">Weight</th>
      <th scope="col">Frajer</th>
      <th scope="col">Smradoch</th>
    </tr>
  </thead>
  <div class="form-group">
    <a class="btn btn-info text-white" href="{{path("main")}}">Back to main</a>
  </div> 
  <tbody>
    <tr>
      <th scope="row">{{ list.id }}</th>
      <h1>{{ list.jmeno }}</h1>
      <td>{{ list.informace }}</td>
      <td>{{ list.height }} cm</td>
      <td>{{ list.weight }} kg</td>
      <img class="img-thumbnail" src="{{list.img}}" alt="{{list.jmeno}}">
      <td> 
        {% if list.frajer == true %}
          Frajer
        {% else %}
          X
        {% endif %}
      </td>
      <td> 
        {% if list.smradoch == true %}
          Smradoch
        {% else %}
          X
        {% endif %}
      </td>      

      <td>
        <a class="btn btn-warning" href="{{path("update",{'id': list.id })}}">Update</a>
        <a class="btn btn-danger" href="{{path("delete",{'id': list.id })}}">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
</div>

{% endblock %}
