 {% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <h3 class="mt-5 mb-5 text-center">Změnit</h3>
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="col-md-6 offset-md-3 text-center bg-warning p-5">
            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.jmeno)}}
                    {{ form_widget(form.jmeno,{'attr':{'class':'form-controll'}})}}
                </div>
                <div class="form-group">
                    {{ form_label(form.informace)}}
                    {{ form_widget(form.informace,{'attr':{'class':'form-controll'}})}}
                </div>
                <div class="form-group">
                    {{ form_label(form.height)}}
                    {{ form_widget(form.height,{'attr':{'class':'form-controll'}})}}
                </div>
                <div class="form-group">
                    {{ form_label(form.weight)}}
                    {{ form_widget(form.weight,{'attr':{'class':'form-controll'}})}}
                </div>
                <div class="form-group">
                    {{ form_label(form.img)}}
                    {{ form_widget(form.img,{'attr':{'class':'form-controll'}})}}
                </div>  
                <div class="form-group">
                    {{ form_label(form.frajer)}}
                    {{ form_widget(form.frajer,{'submitted':{'class':'form-controll'}})}}
                </div>
                <div class="form-group">
                    {{ form_label(form.smradoch)}}
                    {{ form_widget(form.smradoch,{'submitted':{'class':'form-controll'}})}}
                </div>
               <div class="form-group">
                    {{ form_label(form.chytrak)}}
                    {{ form_widget(form.chytrak,{'submitted':{'class':'form-controll'}})}}
               </div>
               <div class="form-group">
                    {{ form_label(form.slusnak)}}
                    {{ form_widget(form.slusnak,{'submitted':{'class':'form-controll'}})}}
               </div>
                <div class="form-group">
                    {{ form_label(form.datum)}}
                    {{ form_widget(form.datum,{'submitted':{'class':'form-controll'}})}}
                </div>
                <div class="form-group">
                    <button class="btn btn-info mt-2 text-white">Změnit</button>
                </div>               
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}